<%= form_for @employee, html: { role: "form" } do |f| %>
	<div class="row">
		<div class="form-group col-xs-4">
			<%= f.label :first_name, "First Name" %>
		  <%= f.text_field :first_name, class: "form-control", placeholder: "Enter First Name" %>
		</div>
		<div class="form-group col-xs-4">
		  <%= f.label :last_name, "Last Name" %>
		  <%= f.text_field :last_name, class: "form-control", placeholder: "Enter Last Name" %>
		</div>
		<div class="form-group col-xs-4">	  
		  <%= f.label :user_name, "User Name" %>
		  <%= f.text_field :user_name, class: "form-control", placeholder: "Enter User Name" %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-4"> 
		  <%= f.label :password %>
		  <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
		</div>
		<div class="form-group col-xs-4"> 
		  <%= f.label :password_confirmation, "Password Confirmation" %>
		  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Again" %>
		</div>
		<div class="form-group col-xs-4">  
		  <%= f.label :office_id %>
		  <%= f.collection_select(:office_id, Office.all.order(:name), :id, :name, {}, { class: "form-control" }) %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-12">  
		  <%= f.label :admin, "Administrative User?" %>
		  <%= f.check_box :admin %>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12">
	  	<% if params[:action] == "edit" %>
				<%= f.submit "Update Employee", class: "btn btn-primary" %>
				<%= link_to "Cancel", new_employee_path, class: "btn btn-default" %>
			<% else %>
				<%= f.submit "Add Employee", class: "btn btn-primary" %>
			<% end %>
	  </div>
	</div>
<% end %>
