<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<th class="col-xs-4">Name</th>
				<th class="col-xs-2">User Name</th>
				<th class="col-xs-2">Office</th>
				<th class="col-xs-2 hidden-xs">Total Tickets</th>
				<th class="col-xs-1"></th>
				<th class="col-xs-1"></th>
			</thead>
			<tbody>
				<% @employees.each do |employee| %>
					<tr>
						<td class="col-xs-4"><%= employee.last_first %></td>
						<td class="col-xs-2"><%= employee.user_name %></td>
						<td class="col-xs-2"><%= employee.office.name %></td>
						<td class="col-xs-2 hidden-xs"><%= employee.tickets.count %></td>
						<td class="col-xs-1"><%= link_to "Edit", edit_employee_path(employee) %></td>
						<td class="col-xs-1"><%= link_to "Delete", employee, method: :delete %></td>
					</tr>
				<% end %>
		</table>
	</div>
</div>