<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-3"><%= sort_column 'Name', 'lname' %></th>
				<th class="col-md-2"><%= sort_column 'User Name', 'username' %></th>
				<th class="col-md-2"><%= sort_column 'Office', 'offices.name', 'office' %></th>
				<th class="col-md-2 hidden-xs">Tickets Created</th>
				<% if params[:status] == 'technicians' %>
					<th class="col-md-2 hidden-xs">Tickets Assigned</th>
				<% end %>
				<th class="col-md-1">Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @employees.each do |employee| %>
				<tr>
					<td class="col-md-3">
						<%= employee_status_icon(employee.active) %>
						&nbsp;
						<%= employee.last_first %>
					</td>
					<td class="col-md-2"><%= employee.username %></td>
					<td class="col-md-2"><%= employee.office.name unless employee.office.nil? %></td>
					<td class="col-md-2 hidden-xs">
						<%= link_to employee_tickets_path(employee), title: 'Employee\'s Submitted Tickets', data: { toggle: 'tooltip', placement: 'top' } do %>
							<%= employee.submitted_tickets.count %>
						<% end %>
					</td>
					<% if params[:status] == 'technicians' %>
						<td class="col-md-2 hidden-xs">
							<%= link_to assigned_tickets_employee_path(employee), title: 'Technican\'s Assigned Tickets', data: { toggle: 'tooltip', placement: 'top' } do %>
							  <%= employee.assigned_tickets.count %>
							<% end %>
						</td>
					<% end %>
					<td class="col-md-1">
						<%= link_to edit_employee_path(employee), title: 'Edit', data: { toggle: 'tooltip', placement: 'top' } do %>
							<span class="glyphicon glyphicon-wrench btn btn-default btn-xs" aria-hidden="true"></span>
							<span class="sr-only" title="Edit">Edit</span>
						<% end %>
						<%= link_to hide_employee_path(employee), method: :patch,
																	title: 'Hide',
																	data: { toggle: 'tooltip', placement: 'top', confirm: "WARNING!  This will close all tickets created by this employee.  Is is recommended that you mark an employee inactive rather than hiding them.\n\nAre you sure that you would like to hide this employee?" } do %>
							<span class="glyphicon glyphicon-eye-close btn btn-default btn-xs" aria-hidden="true"></span>
							<span class="sr-only" title="Hide">Hide</span>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
