<%= form_for @topic, html: { role: "form" } do |f| %>
	<div class="form-group">
		<%= f.label :system, "System Name" %>
		<%= f.text_field :system, class: "form-control", placeholder: "Enter System Name" %>
	</div>
	<% if params[:action] == "edit" %>
		<%= f.submit "Update Topic", class: "btn btn-primary" %>
		<%= link_to "Cancel", new_topic_path, class: "btn btn-default" %>
	<% else %>
		<%= f.submit "Add Topic", class: "btn btn-primary" %>
	<% end %>
<% end %>