<%= render 'shared/validation_errors', obj: @ticket %>

<%= form_for @ticket do |f| %>
	<div class="row">
		<div class="form-group col-md-6">
		<%= f.label :originator_id, 'Select Employee' %>
		<%= f.collection_select(:originator_id, Employee.active.order(:lname), :id, :last_first, { selected: current_employee.id }, { class: 'form-control' }) %>
		</div>
		<div class="form-group col-md-6">
			<%= f.label :topic_id, 'Select Topic' %>
			<%= f.collection_select(:topic_id, Topic.active.order(:name), :id, :name, { prompt: true }, { class: 'form-control' }) %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<%= f.label :urgency %>
			<%= f.collection_select(:urgency, Ticket.urgencies.keys, :to_s, Proc.new { |p| p.titleize }, {}, { class: 'form-control' }) %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<%= f.label :description, 'Describe the Problem' %>
			<%= f.text_area :description, class: 'form-control' %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-12">
			<%= submit_button_create_update(@ticket) %>
			<%= link_to "Cancel", :back, class: 'btn btn-default' %>
		</div>
	</div>
<% end %>
