<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<th class="col-xs-1"><%= sort_column "ID", "id" %></th>
				<th class="col-xs-2"><%= sort_column "Requested For", "employees.last_name", "employee" %></th>
				<th class="col-xs-2"><%= sort_column "Topic", "topics.system", "topic" %></th>
				<th class="col-xs-2 hidden-xs"><%= sort_column "Created", "created_at" %></th>
				<th class="col-xs-2 hidden-xs"><%= sort_column "Updated", "updated_at" %></th>
				<% if params[:status] == nil || params[:status] == 'my' || params[:status] == 'open' %>
					<th class="col-xs-2"><%= sort_column "Status", "statuses.state", "status" %></th>
				<% end %>
				<th class="col-xs-1"></th>
			</thead>
			<tbody>
				<% @tickets.each do |ticket| %>
					<tr>
						<td class="col-xs-1"><%= ticket.id %></td>
						<td class="col-xs-2"><%= ticket.employee.last_first %></td>
						<td class="col-xs-2"><%= ticket.topic.system %></td>
						<td class="col-xs-2 hidden-xs"><%= ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<td class="col-xs-2 hidden-xs"><%= ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<% if params[:status] == nil || params[:status] == 'my' || params[:status] == 'open' %>
							<td class="col-xs-2">
								<%= ticket_status_icon(ticket.status.state) %>
								<%= ticket.status.state %>
							</td>
						<% end %>
						<td class="col-xs-1">
							<%= link_to ticket_path(ticket) do %>
								<span class="glyphicon glyphicon-info-sign btn btn-default btn-xs" aria-hidden="true"></span>
								<span class="sr-only">Details</span>
							<% end %>
						</td>
					</tr>
				<% end %>
		</table>
	</div>
</div>