<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<th><%= sort_column 'ID', 'id' %></th>
				<th><%= sort_column 'Requested For', 'employees.last_name', 'creator' %></th>
				<th><%= sort_column 'Topic', 'topics.system', 'topic' %></th>
				<% if params[:status] == nil || params[:status] == 'my' || params[:status] == 'open' %>
					<th><%= sort_column 'Status', 'statuses.state', 'status' %></th>
				<% end %>
				<% if params[:status] != 'unassigned' %>
					<th><%= sort_column 'Assigned To', 'employees.last_name', 'technician' %></th>
				<% end %>
				<% if params[:status] == 'closed' %>
					<th class="hidden-xs"><%= sort_column 'Closed', 'updated_at' %></th>
				<% else %>
					<th class="hidden-xs"><%= sort_column 'Created', 'created_at' %></th>
				<% end %>
				<th>Actions</th>
			</thead>
			<tbody>
				<% @tickets.each do |ticket| %>
					<tr>
						<td><%= ticket.id %></td>
						<td><%= ticket.creator.last_first %></td>
						<td><%= ticket.topic.system %></td>
						<% if params[:status] == nil || params[:status] == 'my' || params[:status] == 'open' %>
							<td>
								<%= ticket_status_icon(ticket.status.state) %>
								<%= ticket.status.state %>
							</td>
						<% end %>
						<% if params[:status] != 'unassigned' %>
							<td>
								<%= ticket.technician.last_first unless ticket.technician.nil? %>
							</td>
						<% end %>
						<% if params[:status] == 'closed' %>
							<td class="hidden-xs"><%= ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<% else %>
							<td class="hidden-xs"><%= ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<% end %>
						<td>
							<%= link_to ticket_path(ticket), title: 'Details', data: { toggle: 'tooltip', placement: 'right' } do %>
								<span class="glyphicon glyphicon-info-sign btn btn-default btn-xs" aria-hidden="true"></span>
								<span class="sr-only" title="Details">Details</span>
							<% end %>
						</td>
					</tr>
				<% end %>
		</table>
	</div>
</div>