<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<th class="col-xs-1"><%= sortable "id", "ID" %></th>
				<th class="col-xs-2">Requested For</th>
				<th class="col-xs-2">Topic</th>
				<th class="col-xs-2 hidden-xs"><%= sortable "created_at", "Created" %></th>
				<th class="col-xs-2 hidden-xs"><%= sortable "updated_at", "Updated" %></th>
				<% if params[:action] == 'index' %>
					<th class="col-xs-2">Status</th>
				<% end %>
				<th class="col-xs-1"></th>
			</thead>
			<tbody>
				<% @tickets.each do |ticket| %>
					<tr>
						<td class="col-xs-1"><%= ticket.id %></td>
						<td class="col-xs-2"><%= ticket.employee.last_first %></td>
						<td class="col-xs-2"><%= ticket.topic.system %></td>
						<td class="col-xs-2 hidden-xs"><%= ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<td class="col-xs-2 hidden-xs"><%= ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></td>
						<% if params[:action] == 'index' %>
							<td class="col-xs-2"><%= ticket.status.state %></td>
						<% end %>
						<td class="col-xs-1"><%= link_to 'Details', ticket_path(ticket) %></td>
					</tr>
				<% end %>
		</table>
	</div>
</div>