<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3>Ticket <%= @ticket.id %></h3>
		  </div>
		  <div class="panel-body">
		    <ul class="list-unstyled">
		    	<li><strong>Requested For: </strong><%= @ticket.creator.last_first %></li>
					<li><strong>Topic: </strong><%= @ticket.topic.system %></li>
					<li><strong>Status: </strong><%= @ticket.status.state %></li>
					<li><strong>Created: </strong><%= @ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>
						<% if @ticket.status.state == 'Closed' %>
							Closed: 
						<% else %>
							Updated:
						<% end %>
					</strong><%= @ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>Assigned To: </strong><%= @ticket.technician.last_first unless @ticket.technician.blank? %></li>
				</ul>
				<ul class="list-unstyled">
					<li>
						<strong>Description:</strong>
						<br />
						<%= @ticket.description %>
					</li>
		  	</ul>
		  	<br />
		  	<div>
		  		<% if @ticket.status.state != 'Closed' %>
		  			<% if current_employee.admin? %>
		  				<%= link_to 'Assign to Me', assign_to_me_path(@ticket), method: :patch, class: 'btn btn-primary' %>
		  			<% end %>
		  			<%= link_to 'Edit Ticket', edit_ticket_path(@ticket), class: 'btn btn-primary' %>
		  			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#closeTicketModal">Close Ticket</button>	
		  		<% else %>
		  			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reopenTicketModal">Reopen Ticket</button>
		  		<% end %>
		  		<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">&nbsp;Cancel&nbsp;&nbsp;<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><%= link_to 'Return to Previous Page', :back %></li>
					    <li><%= link_to 'Go to My Tickets', tickets_my_path %></li>
					    <li><%= link_to 'Go to Tickets Assigned to Me', tickets_assigned_to_me_path if current_employee.admin? %></li>
					  </ul>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>		
</div>

<%= render 'comments' %>

<% if @ticket.status.state != 'Closed' %>
	<%= render 'close_ticket_modal' %>
<% else %>
	<%= render 'reopen_ticket_modal' %>
<% end %>