<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3>Ticket &#35; <%= @ticket.id %></h3>
		  </div>
		  <div class="panel-body">
		    <ul class="list-unstyled">
		    	<li><strong>Requested For: </strong><%= @ticket.employee.last_first %></li>
					<li><strong>Topic: </strong><%= @ticket.topic.system %></li>
					<li><strong>Status: </strong><%= @ticket.status.state %></li>
					<li><strong>Created: </strong><%= @ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>Updated: </strong><%= @ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>Description: </strong><%= @ticket.description %></li>
		  	</ul>
		  	<div>
		  		<%= link_to "Edit Ticket", edit_ticket_path(@ticket), class: "btn btn-primary" %>
					<%= link_to "Close Ticket", ticket_path, class: "btn btn-success" %>
		  	</div>
		  </div>
		</div>
	</div>		
</div>

<div class="row">
	<div class="col-xs-12">
		<h3>Comments</h3>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<%= render :file => 'comments/new' %>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<% @ticket.comments.order(:created_at).each do |comment| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h4>
			    	<%= comment.created_at.strftime('%m/%d/%Y %I:%M %p') %>
			    	&nbsp;&#45;&nbsp;
			    	<%= comment.employee.last_first %>
			    </h4>
			  </div>
			  <div class="panel-body">
			    <ul class="list-unstyled">
			    	<li><%= comment.body %></li>
			  	</ul>
			  </div>
			</div>
		<% end %>		
	</div>
</div>