<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3>Ticket <%= @ticket.id %></h3>
		  </div>
		  <div class="panel-body">
		    <ul class="list-unstyled">
		    	<li><strong>Requested For: </strong><%= @ticket.creator.last_first %></li>
					<li><strong>Topic: </strong><%= @ticket.topic.system %></li>
					<li><strong>Status: </strong><%= @ticket.status.state %></li>
					<li><strong>Created: </strong><%= @ticket.created_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>Updated: </strong><%= @ticket.updated_at.strftime('%m/%d/%Y %I:%M %p') %></li>
					<li><strong>Assigned To: </strong><%= @ticket.technician.last_first unless @ticket.technician.blank? %></li>
				</ul>
				<ul class="list-unstyled">
					<li>
						<strong>Description:</strong>
						<br />
						<%= @ticket.description %>
					</li>
		  	</ul>
		  	<br />
		  	<div>
		  		<% if @ticket.status.state != 'Closed' %>
		  			<%= link_to "Edit Ticket", edit_ticket_path(@ticket), class: "btn btn-primary" %>
		  			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#closeTicketModal">Close Ticket</button>	
		  		<% else %>
		  			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#reopenTicketModal">Reopen Ticket</button>
		  		<% end %>
		  		<% if admin? %>
		  			<%= link_to "Back", tickets_open_path, class: "btn btn-default" %>
		  		<% else %>
		  			<%= link_to "Back", tickets_my_path, class: "btn btn-default" %>
		  		<% end %>
		  	</div>
		  </div>
		</div>
	</div>		
</div>

<%= render 'comments' %>

<% if @ticket.status.state != 'Closed' %>
	<%= render 'close_ticket_modal' %>
<% else %>
	<%= render 'reopen_ticket_modal' %>
<% end %>