<%= form_for @city, html: { role: "form" } do |f| %>
	<div class="row">
		<div class="form-group col-xs-6">
			<%= f.label :name, "City Name" %>
			<%= f.text_field :name, class: "form-control", placeholder: "Enter City Name" %>
		</div>
		<div class="form-group col-xs-6">  
		  <%= f.label :state_id %>
		  <%= f.collection_select(:state_id, State.all.order(:name), :id, :name, {}, { class: "form-control" }) %>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-xs-12">
			<% if params[:action] == "edit" || params[:action] == "update" %>
				<%= f.submit "Update City", class: "btn btn-primary" %>
				<%= link_to "Cancel", new_city_path, class: "btn btn-default" %>
			<% else %>
				<%= f.submit "Add City", class: "btn btn-primary" %>
			<% end %>
		</div>	
	</div>
<% end %>