<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<th class="col-xs-6"><%= sort_column "City", "name" %></th>
				<th class="col-xs-5"><%= sort_column "State", "states.name", "state" %></th>
				<th class="col-xs-1"></th>
			</thead>
			<tbody>
				<% @cities.each do |city| %>
					<tr>
						<td class="col-xs-6"><%= city.name %></td>
						<td class="col-xs-5"><%= city.state.name %></td>
						<td class="col-xs-1">
							<%= link_to edit_city_path(city), title: 'Edit' do %>
								<span class="glyphicon glyphicon-wrench btn btn-default btn-xs" aria-hidden="true"></span>
								<span class="sr-only" title="Edit">Edit</span>
							<% end %>
							<%= link_to city, method: :delete, title: 'Delete' do %>
								<span class="glyphicon glyphicon-trash btn btn-default btn-xs" aria-hidden="true"></span>
								<span class="sr-only" title="Delete">Delete</span>
							<% end %>
						</td>
					</tr>
				<% end %>
		</table>
	</div>
</div>