<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= page_header %></h3>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-lg-6">City</th>
              <th class="col-lg-5">State</th>
              <th class="col-lg-1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @cities.each do |city| %>
            <tr>
              <td class="col-lg-6"><%= city.name %></td>
              <td class="col-lg-5"><%= city.state.name %></td>
              <td class="col-lg-1">
                <%= link_to edit_city_path(city), title: 'Edit', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <span class="glyphicon glyphicon-wrench btn btn-default btn-xs" aria-hidden="true"></span>
                  <span class="sr-only" title="Edit">Edit</span>
                <% end %>
                <%= link_to hide_city_path(city), method: :patch, title: 'Hide', data: { toggle: 'tooltip', placement: 'top' } do %>
                  <span class="glyphicon glyphicon-eye-close btn btn-default btn-xs" aria-hidden="true"></span>
                  <span class="sr-only" title="Hide">Hide</span>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
