<nav class="navbar navbar-default navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<%= link_to 'THE HELP DESK', root_path, class: 'navbar-brand' %>
			<% if logged_in? %>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
      <% end %>
		</div> <!-- Brand and Responsive Menu -->

		<div id="navbar" class="collapse navbar-collapse">

			<!-- Start Left Menu -->
			<ul class="nav navbar-nav">
				<% if logged_in? && technician? %>
					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tickets <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li><%= link_to 'Create Ticket', new_ticket_path %></li>
	            <li class="divider"></li>
	            <li><%= link_to 'My Tickets', my_tickets_path %></li>
	            <li class="divider"></li>
	          	<li><%= link_to 'Assigned To Me', assigned_to_me_tickets_path %></li>
	            <li><%= link_to 'Open', open_tickets_path %></li>
	            <li><%= link_to 'All', all_tickets_path %></li>
	            <li><%= link_to 'Unassigned', unassigned_tickets_path %></li>
	            <li><%= link_to 'Work In Progress', work_in_progress_tickets_path %></li>
	            <li><%= link_to 'On Hold', on_hold_tickets_path %></li>
	            <li><%= link_to 'Closed', closed_tickets_path %></li>
	          </ul>
	        </li>

					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li><%= link_to 'Add Employees', new_employee_path %></li>
	          	<li class="divider"></li>
	          	<li><%= link_to 'All Employees', all_employees_path %></li>
	          	<li><%= link_to 'Active Employees', active_employees_path %></li>
	          	<li><%= link_to 'Inactive Employees', inactive_employees_path %></li>
	          	<li><%= link_to 'Technician Employees', technicians_employees_path %></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Topics <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li><%= link_to 'Add Topics', new_topic_path %></li>
	          	<li class="divider"></li>
	          	<li><%= link_to 'All Topics', topics_path %></li>
	          </ul>
	    		</li>

					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Locations <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	          	<li><%= link_to 'Add Offices', new_office_path %></li>
	          	<li><%= link_to 'All Offices', offices_path %></li>
	          	<li class="divider"></li>
	          	<li><%= link_to 'Add Cities', new_city_path %></li>
	          	<li><%= link_to 'All Cities', cities_path %></li>
	          </ul>
	        </li>
	    		<!-- End Technician Links -->

	    	<!-- Start Non-Technician Links -->
	     	<% elsif logged_in? && !technician? %>
	     		<li><%= link_to 'Create Ticket', new_ticket_path %></li>
		      <li><%= link_to 'My Tickets', my_tickets_path %></li>
		      <li><%= link_to 'My Account', edit_employee_path(current_employee) %></li>
	     	<% end %> <!-- End Non-Technician Links -->
			</ul> <!-- End Left Menu -->

			<!-- Start Right Menu -->
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<li class="navbar-text hidden-xs">Hello, <%= current_employee.fname %>&#33;</li>
					<li><%= link_to 'Log Out', logout_path, method: 'delete' %></li>
				<% end %>
			</ul> <!-- End Right Menu -->

		</div> <!-- Navbar Collapse -->
	</div> <!-- Container -->
</nav>
